[Unit]
Description=Load EmonOS preloaded container images
Wants=docker.service
After=docker.service
Before=emonos-app.service
ConditionPathExists=!/var/lib/emonos/preload.done

[Service]
Type=oneshot
ExecStart=/usr/libexec/emonos-preload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
