[Unit]
Description=Load EmonOS preloaded container images
Requires=mnt-data.mount docker.service
After=mnt-data.mount docker.service
Before=emonos-app.service
ConditionPathExists=!/mnt/data/.preload.done

[Service]
Type=oneshot
ExecStart=/usr/libexec/emonos-preload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
