[Unit]
Description=Prepare EmonOS persistent application directories
DefaultDependencies=no
Requires=var.mount mnt-data.mount
After=var.mount mnt-data.mount
Before=var-lib-docker.mount local-fs.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/emonos-first-boot
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
