[Unit]
Description=EmonOS application stack
Requires=docker.service emonos-preload.service
After=docker.service emonos-preload.service
RequiresMountsFor=/mnt/data

[Service]
Type=oneshot
WorkingDirectory=/opt/emonos
ExecStart=/usr/bin/docker compose -f /opt/emonos/docker-compose.yml up -d --wait --wait-timeout 840
ExecStop=/usr/bin/docker compose -f /opt/emonos/docker-compose.yml down
RemainAfterExit=yes
TimeoutStartSec=900
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
