[Unit]
Description=EmonOS Docker data bind mount
Requires=mnt-data.mount emonos-first-boot.service
After=mnt-data.mount emonos-first-boot.service
Before=docker.service

[Mount]
What=/mnt/data/docker
Where=/var/lib/docker
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
